body {
	background-color: white;

}

.hidden
{
	display: none;
}

.container {
	max-width: 1920px;
	flex-wrap: wrap;
	margin: 0 auto;
	color: white;
	text-align: center;
}

.divStick {
	height: 20px;
	width: 10px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	border-right: solid 3px black;
}

#mainHeader {
	width: auto;
	height: 78px;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo
{
	width: 67px;
	height: 67px;
	background-color: black;
	margin-left: 20px;
	margin-top: 5px;
}

.nav {
	width: 106px;
	height: 22px;
	background-color: black;
	margin-top: 28px;
}

#hamburger
{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-right: 20px;
	margin-top: 20px;
}


#hero {
	width: auto;
	background-color: black;
	height: 154px;
}

#hero h2 {
	width: 171px;
	height: 20px;
	margin: 0 auto;
	background-color: gray;
}

.mainTitle {
	margin: 0 auto;
	width: 233px;
	height: 30px;
	margin-bottom: 15px;
	background-color: gray;
}

#news {
	background-color: gray;
	height: 100px;
	width: 320px;
	margin: 0 auto;
}

.subTitle {
	background-color: gray;
	margin-top: 20px;
	margin: 0 auto;
	width: 100px;
	height: 20px;
	margin-bottom: 10px;
}


.learnMore {
	margin: 0 auto;
	background-color: black;
	width: 140px;
	height: 20px;
	margin-bottom: 10px;
}

.comingImg {
	width: 155px;
	height: 115px;
	margin: 0 auto;
	background-color: black;
	margin-bottom: 10px;
}

#getInvolved {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
	height: 115px;
	border-bottom: solid 3px black;
	margin-bottom: 20px;
}

.icons {
	width: 75px;
	height: 75px;
	background-color: black;
	margin-bottom: 25px;
	margin-top: 25px;
}

#majorSponsors {
	margin: 0 auto;
	width: auto;
	height: 145px;
}

#sponsorRow1 {
	width: auto;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#sponsorRow2 {
	width: auto;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.sponsorLogo {
	width: 80px;
	height: 25px;
	background-color: black;
}

#mainFooter {
	width: auto;
	height: 78px;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#facebook {
	height: 35px;
	width: 35px;
	background-color: black;
	margin-right: 20px;
	margin-top: 20px;
}

.desktopNav
{
	display: none;
}
#desktopNavigation
{
	display: none;
}
#memberBut
{
	display: none;
}
#navigation
{
	display: none;
}
#comingUpCon
{
	display: block;
}


/*tablet*/
@media screen and (min-width: 768px) {

}


/*desktop*/
@media screen and (min-width: 1200px) {





#mainHeader {
	width: auto;
	height: 185px;
	background-color: gray;
	display: flex;
	flex-direction: row;
	
}

.logo
{
	width: 167px;
	height: 167px;
	background-color: black;
	margin-left: 30px;
	margin-top: 10px;

}

.nav {
	display:none;
	}

#hamburger
{
	display:none;
}

#desktopNavigation
{
	display: flex;
	flex-direction: row;
	
	margin-top: 70px;
	margin-right: 100px;

}

.desktopNav
{
	width: 130px;
	height: 35px;
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	margin-right: 30px;
	margin-left: 0;
	
	
}
#memberBut
{
	width: 150px;
	height: 35px;
	background-color: black;
	display:block;
	margin-left: auto;
	margin-top: 25px;
	margin-right: 130px;
}

#navigation
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;

}

#hero {
	width: auto;
	background-color: black;
	height: 480px;
}

#hero h2 {
	width: 171px;
	height: 20px;
	margin: 0 auto;
	background-color: gray;
}
.divStick {
	height: 40px;
	width: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-right: solid 3px black;
}


#comingUpCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.mainTitle {
	margin: 0 auto;
	width: 600px;
	height: 50px;
	margin-bottom: 30px;
	background-color: gray;
}

#news {
	background-color: gray;
	height: 300px;
	width: 820px;
	margin: 0 auto;
}

.subTitle {
	background-color: gray;
	margin-top: 20px;
	margin: 0 auto;
	width: 240px;
	height: 40px;
	margin-bottom: 10px;
}


.learnMore {
	margin: 0 auto;
	background-color: black;
	width: 280px;
	height: 40px;
	margin-bottom: 10px;
}

.comingImg {
	width: 450px;
	height: 350px;
	margin: 0 auto;
	background-color: black;
	margin-bottom: 10px;
}

#comingUpCon
{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#getInvolved {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
	height: 315px;
	border-bottom: solid 3px black;
	margin-bottom: 40px;
}

.icons {
	width: 175px;
	height: 175px;
	background-color: black;
	margin-bottom: 25px;
	margin-top: 25px;
}

#majorSponsors {
	margin: 0 auto;
	width: auto;
	height: 345px;
}

#sponsorRow1 {
	width: auto;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 75px;
}

#sponsorRow2 {
	width: auto;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.sponsorLogo {
	width: 160px;
	height: 50px;
	background-color: black;
}

#mainFooter {
	width: auto;
	height: 178px;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo
{
	width: 137px;
	height: 137px;
	background-color: black;
	margin-left: 30px;
	margin-top: 20px;

}

.desknav {
	width: 606px;
	height: 52px;
	background-color: black;
	margin-top: 88px;
	display: block;
	
	}

#facebook {
	height: 95px;
	width: 95px;
	background-color: black;
	margin-right: 50px;
	margin-top: 45px;
}


	
}